{% extends 'association/base_association.html' %}
{% load i18n %}

{% block content_page %}
<h1>{% trans text.title %}</h1>
{{ text.body_html|safe }}
{% endblock %}

{% block links %}
<h2>{% trans "Links" %}</h2>
<ul>
    <li><a href="{% url apinc.association.views.status %}">{% trans "Status" %}</a></li>
    <li><a href="{% url apinc.association.views.board %}">{% trans "Board members" %}</a></li>
</ul>
{% endblock %}

{% block actions %}
{% if superadmin or bureau_member or secretariat_member or contributeur %}
<h2>{% trans "Actions" %}</h2>
<ul>
    <li><a href="{% url apinc.pages.views.edit text.slug %}">{% trans "Edit the charter" %}</a></li>
</ul>
{% endif %}
{% endblock %}
