{% extends 'association/base_association.html' %}
{% load i18n %}

{% block content_page %}
<h2>{% trans "The association" %}</h2>
{{ text.body_html|safe }}
{% if superadmin or bureau_member or secretariat_member or contributeur %}
    <p class="page-nav"><a href="{% url apinc.pages.views.edit text.slug %}">{% trans "edit" %}</a></p>
{% endif %}

<h2>{% trans "Board members" %}</h2>
{% for member in board_members %}
    <strong>{{ member.role }} : </strong>{{ member.member }}</p>
{% empty %}
    <p>{% trans "No members in the board !" %}
{% endfor %}

<h2>{% trans "Meeting reports" %}</h2>
<ul>
{% for report  in meeting_reports %}
<li><a href="{{ MEDIA_URL }}{{ report.report_file.name }}">{{ report.get_report_type_display }} {{ report.pub_date|date:"F Y" }}</a>
{% if superadmin or bureau_member or secretariat_member %}<a href="{% url apinc.association.views.delete_report report.id %}">delete</a>
{% endif %}
</li>
{% empty %}
<li>{% trans "No report available !" %}</li>
{% endfor %}
</ul>
{% endblock %}

{% block links %}
<h2>{% trans "Links" %}</h2>
<ul>
    <li><a href="{% url apinc.association.views.status %}">{% trans "Status" %}</a></li>
    <li><a href="{% url apinc.association.views.charter %}">{% trans "Charter" %}</a></li>
    <li><a href="{% url apinc.association.views.board %}">{% trans "Board members" %}</a></li>
</ul>
{% endblock %}

{% block actions %}
{% if superadmin or bureau_member or secretariat_member %}
<h2>{% trans "Actions" %}</h2>
<ul>
    <li><a href="{% url apinc.association.views.upload_report %}">{% trans "Add a report" %}</a></li>
</ul>
{% endif %}
{% endblock %}
