{% extends "base.html" %}
{% load  i18n %}
{% load static from staticfiles %}

{% block nav_account %}<li class="active dropdown">{% endblock %}

{% block content %}
<div class="img-header">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3 offset1">
        <img class="align-left" src="{% static "images/members.png" %}" alt>
      </div>
      <div class="span8">
        <p class="text-center">{% trans "Member account" %}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">{% trans "Treasury" %}</li>
          <li><a href="{% url "apm.apps.payments.views.user_payments" person.id %}">{% trans "List payments" %}</a></li>
          {% if superadmin or bureau_member or secretariat_member %}
          <li><a href="{% url "apm.apps.payments.views.payment_edit" person.id %}">{% trans "Add payment" %}</a></li>
          {% endif %}
          <li><a href="{% static "images/rib_bplc.png" %}">{% trans "Bank details" %}</a></li>
          <li class="nav-header">{% trans "Contributions" %}</li>
          <li><a href="{% url "apm.apps.contributions.views.user_contributions" person.id %}">{% trans "List contributions" %}</a></li>
          <li><a href="{% url "apm.apps.contributions.views.contribution_edit" person.id %}">{% trans "Add a contribution" %}</a></li>
        </ul>
      </div> <!--/.well -->
    </div> <!--/span -->

    <div class="span9">
      {% block content_page %}{% endblock %} 
    </div>
  </div>
</div><!--/container-fluid -->
{% endblock %}
