{% extends "base.html" %}
{% load  i18n %}
{% load static from staticfiles %}

{% block nav_account %}<li class="active dropdown">{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
            <li class="nav-header">{% trans "Treasury" %}</li>
            <li><a href="{% static "images/rib_bplc.png" %}">{% trans "Bank details" %}</a></li>
					{% block extra-actions %}
					{% if superadmin or bureau_member or secretariat_member or contributeur %}
                    {# <li class="nav-header">{% trans "Actions" %}</li> #}
                    {# <li><a href="{% url "apm.apps.news.views.edit" %}">{% trans "Write a news" %}</a></li> #}
					{% endif %}
					{% endblock %}
				</ul>
			</div> <!--/.well -->
		</div> <!--/span -->

		<div class="span9">
			{% block content_page %}{% endblock %} 
		</div>
	</div>
</div><!--/container-fluid -->
{% endblock %}
