{% extends 'members/base_members.html' %}
{% load i18n %}

{% block pagetitle %}{% trans "Member detail profile" %}{% endblock %}

{% block title %}{{ person.first_name|default:"First name undefined" }} {{ person.last_name|default:"Last name undefined" }} {% endblock %}

{% block content_page %}
<div class="row-fluid"> 
	<h3 class="muted">{{ person.first_name|default:"First name undefined" }} {{ person.last_name|default:"Last name undefined" }}</h3>
	<h4 class="muted">{% trans "Personal profile" %}</h4>
	<ul class="muted">
		<li><b>{% filter capfirst %}{% trans "username" %}{% endfilter %}
			&nbsp;: </b>{{ person.username }}</li>
		<li><b>{% filter capfirst %}{% trans "first name" %}{% endfilter %}
			&nbsp;: </b>{{ person.first_name }}</li>
		<li><b>{% filter capfirst %}{% trans "last name" %}{% endfilter %}
			&nbsp;: </b>{{ person.last_name }}</li>
		<li><b>{% filter capfirst %}{% trans "email" %}{% endfilter %}
			&nbsp;: </b>{{ person.email }}</li>

		{% if person.maiden_name %}
		<li><b>{% filter capfirst %}{% trans "maiden name" %}{% endfilter %}
			&nbsp;: </b>{{ person.maiden_name }}</li>
		{% endif %}

		{% if person.birthdate %}
		<li><b>{% trans "Birthdate" %}&nbsp;: </b>{{ person.birthdate }}</li>
		{% endif %}

		{% if person.sex %}
		<li><b>{% trans "Gender" %}&nbsp;: </b>{{ person.sex }}</li>
		{% endif %}
	</ul>

    {% if projects %}
    <div class="muted">
	<h4>{% trans "VHFFS projects eligible for membership" %}</h4>
	<ul>
        {% for project in projects %}
        <li>{{ project.groupname }} ({{ project.creation_date }})</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}


	<p class="text-warning">{% trans "These data are synced from APINC VHFFS Panel, to update these data please edit them from" %} <a href="https://panel.apinc.org/">{% trans "the appropriate panel tab" %}</a>.</p>


	{% if superadmin or secretariat_member or bureau_member or tresorier_member %}
    <div class="text-success">
	<h4>{% trans "APM group memberships" %}</h4>
    {% if person.groupmembership_set.all %}
	<ul class="unstyled">
		{% for gm in person.groupmembership_set.all %}
		  <li>{{ gm.group.name }} - {{ gm.start_date }} - {{ gm.end_date|default:"On going" }}</li>
		{% endfor %}
	</ul>
    {% else %}
    <p>{% trans "No apm group membership" %}</p>
    {% endif %}
	<p><a class="btn btn-success" href="{% url "apm.apps.manage.views.groupmembership_edit" person.id %}">{%trans "Add" %}</a></p>
    </div>

    <div class="text-info">
	<h4>{% trans "Person Private data" %}</h4>
	<div> <p>{{ personprivate.notes }}</p> </div>
    <p><a class="btn btn-primary" href="{% url "apm.apps.members.views.personprivate_edit" person.id %}">{% trans "Edit" %}</a></p>
    </div>
	{% endif %}

	{% endblock %}

	{% comment %}<li><a href="{% url "apm.subscriptions.views.user_subscriptions" person.user_ptr_id %}">{% trans "See subscriptions" %}</a></li>{% endcomment %}
