{% extends person.id|yesno:'members/base_members.html,manage/base_manage.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block extra_stylesheet %}
{#<link rel="stylesheet" type="text/css" href="{% static "jquery-ui/jquery-ui-" %}{{ jquery_ui_version }}.custom.min.css">#}

{#<link rel="stylesheet" href="{% static "bootstrap-datepicker/css/datepicker.css" %}">#}
<link rel="stylesheet" href="{% static "bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}

{% block content_page %}
<div class="page-header">
    <h2>{% trans "Add a role to a member" %}</h2>
</div>

<div class="row-fluid">
    <div class="span12">
        <form class="form-horizontal" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form_errors">
                {% for err in form.errors %}
                <div class="form_error_message">{{ err }}</div>
                {% endfor %}
            </div>  

            <div class="control-group">
                <label class="control-label" for="id_role">{{ form.role.label }}</label>
                <div class="controls">
                    <select id="id_role" name="role">
                        <option value"" {% if not form.instance %}selected="selected"{% endif %}>{{ form.fields.role.empty_label }}</option>
                        {% for r in form.fields.role.queryset %}
                        <option value="{{ r.id }}" {% if form.instance.role.id == r.id %}selected="selected"{% endif %}>{{ r.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_member">{{ form.member.label }}</label>
                <div class="controls">
                    <select id="id_member" name="member">
                        {% for p in form.fields.member.queryset %}
                        <option value="{{ p.id }}">{{ p.first_name|capfirst }} {{ p.last_name|capfirst }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_start_date">{{ form.start_date.label }}</label>
                <div class="controls">
                    <input class="datepicker" id="id_start_date" name="start_date" type="text" placeholder="{% trans "Start date" %}" value="{{ form.start_date.value|date:"Y-m-d" }}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_end_date">{{ form.end_date.label }}</label>
                <div class="controls">
                    <input class="datepicker" id="id_end_date" name="end_date" type="text" value="{{ form.end_date.value|default:"" }}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_expiration_date">{{ form.expiration_date.label }}</label>
                <div class="controls">
                    <input class="datepicker" id="id_expiration_date" name="expiration_date" type="text" value="{{ form.expiration_date.value|default:"" }}"/>
                </div>
            </div>

            {# http://stackoverflow.com/questions/11321767/how-should-i-style-django-validation-errors-with-bootstrap #}
            <div class="control-group">
                <div class="controls" >
                    <a class="btn btn-inverse" href="{{ back }}">{% trans "Cancel" %}</a>
                    <input type="submit" class="btn btn-primary" value="{% trans "Save" %}"/>
                    {% if form.instance.id %}
                    {#<a class="btn btn-danger" href="{% url "apm.apps.manage.views.groupmembership_delete" form.instance.id %}">{% trans "Delete" %}</a>#}
                    {% endif %}
                </div>
            </div>
        </form> 

    </div><!--/span12-->
</div><!--/raw-fluid-->
{% endblock %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static "jquery-ui/jquery-ui-" %}{{ jquery_ui_version }}.custom.min.js"></script>
{#<script type="text/javascript" src="{% static "bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>#}
<script type="text/javascript" src="{% static "bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" %}"></script>

<script type="text/javascript">
$(function() {
        $( '.datepicker' ).datetimepicker({
            format: "yyyy-MM-dd",
            pickDate: true,            // disables the date picker
            pickTime: false,            // disables de time picker
            pick12HourFormat: false,   // enables the 12-hour format time picker
            pickSeconds: false, 
        });
//          $('.datepicker').datepicker({
//            //"setDate": new Date(),
//            "format": 'yyyy-mm-dd',
//            "autoclose": true,
//            "todayBtn": true,
//          });
});
</script>
{% endblock %}
