{% extends 'manage/base_manage.html' %}
{% load i18n %}

{% block content_page %}
{% if to_validate %}
<h1>{% trans "Subscriptions to validate" %}</h1>
{% else %}
<h1>{% trans "Subscriptions" %}</h1>
{% endif %}

{% if subscriptions_list %}
<table style="width: 100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="?page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="?page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="?page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="?page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</tr>
</table>


<div id="edition">
<table style="width: 100%" class="datas">
<tr>
  <th>{% trans "Member" %}</th>
  <th>{% trans "Date" %}</th>
  <th>{% trans "Amount" %}</th>
  <th>{% trans "Payment" %}</th>
</tr>

{% for subscription in subscriptions_list %}
<tr class="{% cycle row1,row2 %}">
    <td align="center"><a href="{% url apinc.members.views.details subscription.member.person.user.id %}">{{ subscription.member.person.user.last_name }} {{ subscription.member.person.user.first_name }}</a>
    </td>
    <td align="center">
    {{ subscription.start_date|date:"d-M" }} {{ subscription.start_date|date:"Y" }}-{{ subscription.end_date|date:"Y" }}
    </td>
    <td align="center">
      {{ subscription.dues_amount }}&nbsp;{% trans "euros" %}
    </td>
    <td align="center">
    {% if subscription.payment %}
    <a href="/">#{{ subscription.payment.id }}</a> {% trans "by" %} {{ subscription.payment.get_type_display }}
    {% else %}
    {% trans "No payment found" %}
    {% endif %}
    </td>
    <td align="center">
    {% if not subscription.validated %}
    <a class="savelink" href="{% url apinc.subscriptions.views.subscription_validate subscription.id %}?next={% if to_validate %}{% url to_validate_subscriptions %}{% else %}{% url all_subscriptions %}{% endif %}">{% trans "Validate" %}</a>
    {% endif %}
    <a class="deletelink" href="{% url apinc.subscriptions.views.subscription_delete subscription.id %}?next={% if to_validate %}{% url to_validate_subscriptions %}{% else %}{% url all_subscriptions %}{% endif %}">{% trans "Delete" %}</a>
    </td>
</tr>

{% endfor %}

</table>
</div>

{% else %}
<p>{% if to_validate %}{% trans "No pending subscriptions!" %}{% else %}{% trans "No subscriptions!" %}{% endif %}</td>
{% endif %}

{% endblock %}
