{% extends 'subscriptions/base_subscriptions.html' %}
{% load i18n %}

{% block content_page %}
<h1>{{ action_title }} {{ person }}</h1>

<script type="text/javascript">
function select_conf(id, dues_amount) {
    document.getElementById('id_dues_amount').value = dues_amount;
    document.getElementById('id_total_amount').value = dues_amount;
    return;
}
function get_amount() {
    for (count = 0; count < {{ types.length }}; count++) {
        if (document.getElementById('id_type_$count').checked)
            break;
    return document.getElementById('id_type_$count').value;
    }
}
</script>

<form method="post" action="." enctype="multipart/form-data">
    
<table width="100%">
<tr>
    <th>&nbsp;</th>
    <th>{% trans "Subscription" %}
</tr>

{% for type in types %}
<tr>
<th>
    <label for="id_type_{{ type.id }}">
        <input id="id_type_{{ type.id }}" value="{{ type.id }}" name="type" type="radio"
        onclick="select_conf({{ type.id }}, {{ type.dues_amount }})" {% if forloop.first %}checked{% endif %}/>
        {{ type.label }}
    </label>
</th>
<td align="center">{% trans "duration" %} : {{ type.duration }}&nbsp;{% trans "year" %}</td>
<td align="center">{{ type.dues_amount }}&nbsp;{% trans "euros" %}</td>
</tr>
{% empty %}
<td>{% trans "No subscription types available !" %}</td>
{% endfor %}

<tr><th><label for="id_total_amount">{% trans "Total amount" %}:</label></th><td colspan="2"><input readonly="readonly" name="total_amount" id="id_total_amount" type="text" value="{{ form.dues_amount.value }}" />&nbsp;{% trans "euros" %}</td></tr>

<script type="text/javascript">
document.write(get_amount());
</script>

{{ form }}

</table>

<div style="text-align: center">
<a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
<input type="submit" class="button" value="{% trans "Save" %}" />
</div>
</form>

{% endblock %}

{% block actions %}
<h2>{% trans "Links" %}</h2>
<ul>
    <li><a href="{% url apinc.members.views.details person.user.id %}">{% trans "See account" %}</a></li>
    <li><a href="{% url apinc.subscriptions.views.user_subscriptions person.user.id %}">{% trans "See subscriptions" %}</a></li>
</ul>
{% endblock %}
