{% extends 'subscriptions/base_subscriptions.html' %}
{% load i18n %}

{% block content_page %}

<h1>{% trans "Subscriptions for" %} {{ person.user.first_name }} {{ person.user.last_name }}</h1>

{% if subscriptions_list %}
<table>
<tr align="center">
    <th>{% trans "Date" %}</th>
    <th>{% trans "Period" %}</th>
    <th>{% trans "Tender type" %}</th>
    <th>{% trans "Amount" %}</th>
    <th>{% trans "Status" %}</th>
</tr>
{% for subscription in subscriptions_list %}
<tr align=center">
    <td>{{ subscription.date|date:"d/M/Y H:i" }}</td>
    <td>{{ subscription.start_date|date:"d-M" }} {{ subscription.start_date|date:"Y" }}→{{ subscription.end_date|date:"Y" }}</td>
    <td>{{ subscription.get_tender_type_display }}</td>
    <td>{{ subscription.dues_amount }}</td>
    {% if subscription.validated  %}
        <td>Validated</td>
    {% else %}
        <td>Not validated</td>
    {% endif %}

    {% if superadmin or secretariat_member or tresorier_member %}
    <td>
    {% if not subscription.validated %}
    <a class="savelink" href="{% url apinc.subscriptions.views.subscription_edit person.user.id subscription.id %}?next={% url apinc.subscriptions.views.user_subscriptions person.user.id %}">{% trans "Edit" %}</a>
    <a class="savelink" href="{% url apinc.subscriptions.views.subscription_validate subscription.id %}?next={% url apinc.subscriptions.views.user_subscriptions person.user.id %}">{% trans "Validate" %}</a>
    {% endif %}
    <a class="deletelink" href="{% url apinc.subscriptions.views.subscription_delete subscription.id %}?next={% url apinc.subscriptions.views.user_subscriptions person.user.id %}">{% trans "Delete" %}</a>
    </td>
    {% else %}

    {% if not subscription.validated %}
    <td>
    <a class="savelink" href="{% url apinc.subscriptions.views.subscription_edit person.user.id subscription.id %}?next={% url apinc.subscriptions.views.user_subscriptions person.user.id %}">{% trans "Edit" %}</a>
    </td>
    {% endif %}
    {% endif %}
</tr>
{% endfor %}
</table>

{% else %}
<p>{% trans "No subscriptions !" %}</p>
{% endif %}

{% if superadmin or secretariat_member or tresorier_member %}
    {% if not is_subscriber %}
    <p class=alert>{{ person }} has no valid subscription !</p>&nbsp;<a href="{% url apinc.subscriptions.views.regularize_user person.user.id %}?next={% url apinc.subscriptions.views.user_subscriptions person.user.id %}">{% trans "Regularize user subscription"%}</a>
    {% endif %}
{% endif %}

{% endblock %}

{% block actions %} 
<h2>{% trans "Actions" %}</h2>
<ul>
    <li><a href="{% url apinc.members.views.details person.user.id %}">{% trans "See account" %}</a></li>
    <li><a href="{% url apinc.subscriptions.views.subscription_edit person.user.id %}">{% trans "Add a subscription" %}</a></li></ul>
{% endblock %}

