{% extends "base.html" %}
{% load  i18n %}
{% load static from staticfiles %}

{% block pagetitle %}{% trans "The organization" %}{% endblock %}

{% block nav_who_we_are %}<li class="active dropdown">{% endblock %}

{% block content %}
<div class="img-header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 offset1">
                <img class="align-left" src="{% static "images/organization.png" %}" alt>
            </div>
            <div class="span8">
                <p class="text-center">{% trans "Organization" %}</p>
            </div>
        </div>
    </div>
</div>
{% block content_page %}{% endblock %} 
{% endblock %}
