{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
    <div class="span12">
        <form class="form-horizontal" method="post" action=".">
            {% csrf_token %}
            <p><strong>
                {% if description %}
                {{ message }} "{{ description|escape }}" ?
                {% else %}
                {{ message }} ?
                {% endif %}
            </strong></p>

            <input type="hidden" name="next" value="{{ next }}" />

            <div class="control-group">
                <div class="controls" >
                    <a class="btn btn-inverse" href="{{ back }}">{% trans "No" %}</a>
                    <input type="submit" class="btn btn-primary" name="_confirm" value="{% trans "Yes" %}"/>
                </div>
            </div>
        </form>
    </div>
</div><!--/row-fluid -->
</div><!--/container-fluid -->
{% endblock %}
