{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load apm_tags %}

{% block nav_who_we_are %}
{# pas le plus élégant, en plus block pas nested dans les if ?! #}
{% if text.slug == "statuts" or text.slug == "by-laws" %}
  <li class="active dropdown">
{% else %}
  <li class="dropdown">
{% endif %}
{% endblock %}

{% block nav_contact %}
{# pas le plus élégant, en plus block pas nested dans les if ?! #}
{% if text.slug == "contact" %}
  <li class="active dropdown">
{% else %}
  <li class="dropdown">
{% endif %}
{% endblock %}

{% block content %}
<div class="img-header">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3 offset1">
        {% with "images/"|add:text.slug|add:".png" as image_path %}
        {% if image_path|image_exists %}
          <img class="align-left" src="{% static "images" %}/{{ text.slug }}.png" alt>
        {% endif %}
        {% endwith %}
      </div>
      <div class="span8">
        <p class="text-center">{{ text.title }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      {{ text.body_html|safe }}
      {% if superadmin or bureau_member or secretariat_member or contributeur %}
      <p><a class="btn btn-primary pull-right" href="{% url "apm.apps.pages.views.edit" text.slug %}">{% trans "Edit" %}</a></p>
      {% endif %}
    </div>
  </div> <!-- /row -->

  {% if superadmin or bureau_member or secretariat_member or contributeur %}
  <h5>{% trans "Logs for this pseudo-static page" %}</h5>
  {% include "manage/logs.html" with object=text %}
  {% endif %}

</div><!--/container-fluid -->

{% endblock %}
