{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block pagetitle %}{% trans "APINC Portal" %}{% endblock %}

{% block nav_home %}<li class="active">{% endblock %}

{% block content %}

<div id="content" class="grid_12">

    <h1>{{ text.title|safe }}</h1>

    {{ text.body_html|safe }}

    {% if superadmin or bureau_member or secretariat_member or contributeur %}
        <p class="page-nav"><a href="{% url "apm.apps.pages.views.edit" text.slug %}">{% trans "edit" %}</a></p>
    {% endif %}

    {% if news %}
        {% for news_item in news %}
        <h2>{{ news_item.title}}</h2>
          <p>{{ news_item.pub_date }}</p>
           {{ news_item.body_html|safe }}
          <p class="page-nav"><a href="{{ news_item.get_absolute_url }}">see details</a></p>
      {% endfor %}

      {% else %}
          <p>{% trans "No news !" %}
      {% endif %}

</div>
<div class="clear">&nbsp;</div>
    
{% endblock %}
