{% extends 'base.html' %}
{% load i18n %}

{% block extra_head %}{{ form.media }}{% endblock extra_head %}

{% block content %}
<div id="content" class="grid_12">
    
    <form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <table width="100%">
        {{ form }}
    </table>

    <a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
    <input type="submit" class="button" value="{% trans "Save" %}"/>
</form>

<h3>{% trans "Logs for this pseudo-static page" %}</h3>
{{ form.logs.all }}
<ul>
{% for log in form.instance.logs.all %}
    <li>{{ log.timestamp|date:"Y/M/d H:i:s" }} | {{ log.user }} | {{ log.message }}</li>
{% empty %}
    <li>{% trans "No logs yet !" %}</li>
{% endfor %}
</ul>

<div class="clear">&nbsp;</div>
{% endblock %}
