{% extends 'members/base_members.html' %}
{% load i18n %}

{% block pagetitle %}{% trans "Member edit profile" %}{% endblock %}
 
{% block title %}{{ person.first_name }} {{ person.last_name}} {% endblock %}
 
{% block content_page %}
 
    <h1>{{ person.user.first_name }} {{ person.user.last_name}}</h1>

    <a href="{% url apinc.members.views.details person.user.id %}">{% trans "Back to personnal file" %}</a>

    <h2>{% trans "Personal profile" %}</h2>
    <div class="blockdata">
    <ul>
        <li><b>{% filter capfirst %}{% trans "First name" %}{% endfilter %}
        &nbsp;:</b> {{ person.user.first_name|capfirst }}</li>
        <li><b>{% trans "Last name" %}&nbsp;:</b> {% filter capfirst %}{{ person.user.last_name }}{% endfilter %}</li>
        <li><b>{% trans "Email" %}&nbsp;:</b> {{ person.user.email }}</li>
     </ul>
    <p><a href="{% url apinc.members.views.user_edit person.user.id %}">{% trans "Modify" %}</a></p>
    </div>
    
    <p>&nbsp;</p>
    <div class="blockdata">
    <ul>
        <li><b>{% filter capfirst %}{% trans "maiden name" %}{% endfilter %}
        &nbsp;:</b> {{ person.maiden_name|default:"Empty"  }}</li>
        <li><b>{% trans "Birthdate" %}&nbsp;:</b> {{ person.birthdate|default:"Empty"  }}</li>
        <li><b>{% trans "Gender" %}&nbsp;:</b> {{ person.sex|default:"Empty"  }}</li>
     </ul>
    <p><a href="{% url apinc.members.views.person_edit person.user.id %}">{% trans "Modify" %}</a></p>
    </div>

    {% if member %}
    <h3>{% trans "Member data" %}</h3>
    <div class="blockdata">
    <h4>{% trans "Memberships" %}</h4>
    <ul>
        {% for gm in member.person.groups.all %}
        <li>{{ gm.group.name }} - {{ gm.start_date }} - {{ gm.end_date|default:"On going" }}</li>
        {% endfor %}
    </ul>
    <p><a href="{% url apinc.members.views.member_edit person.user.id %}">{%trans "Modify" %}</a></p>
    </div>
    {% endif %}

    {% if secretariat_member or superadmin %}
    <h3>{% trans "Private data" %}</h3>
    <div class="blockdata">
    <ul>
        <li>{{ personprivate.notes|default:"Empty" }}</li>
    </ul>
    <p><a href="{% url apinc.members.views.personprivate_edit person.user.id %}"> {% trans "Modify" %}</a></p>
    </div>
    {% endif %}

    <h3>{% trans "Address" %}</h3>
    <div class="blockdata">
    {% for address in person.addresses.all %}
    <ul>
        <li>{{ address.adr_type|lower }}&nbsp;:
        {{ address.line1 }} {{ address.line2|default_if_none:"" }} -
        {{ address.zip_code }} - {{ address.city }}
        {{ address.country.name }}
    <a href="{% url apinc.members.views.address_edit person.user.id address.id %}">
        {% trans "Modify" %}</a>
    <a href="{% url apinc.members.views.address_delete person.user.id address.id %}">
        {% trans "Delete" %}</a>
    </li>
    </ul>
    {% endfor %}
    <p><a href="{% url apinc.members.views.address_edit person.user.id %}">{% trans "Add" %}</a></p>

    </div>

{% endblock %}

{% block extra-actions %}
{# FIXME #}
{% endblock %}
