{% extends 'news/base_news.html' %}
{% load i18n %}

{% block content_page %}
<div class="row-fluid">
<div class="span12">

    <h2>{{ news_item.title }}</h2>
    <p class="text-info">{% trans "Posted on" %} {{ news_item.pub_date }}</p>
        <p>{{ news_item.body_html|safe }}</p>

    {% if superadmin or bureau_member or secretariat_member or contributeur %}
    <h3>{% trans "Logs for this news" %}</h3>
    <ul>
    {% for log in news_item.logs.all %}
        <li>{{ log.timestamp|date:"Y/M/d H:i:s" }} | {{ log.user }} | {{ log.message }}</li>
    {% empty %}
        <li>{% trans "No logs ERROR !" %}</li>
    {% endfor %}
    </ul>
    {% endif %}


{% if superadmin or bureau_member or secretariat_member or contributeur %}
<div class="text-right">
<div class="btn-group">
<a class="btn btn-primary pull-right" href="{% url "apm.apps.news.views.edit" news_item.slug %}">{% trans "Edit" %}</a>
</div>
<div class="btn-group">
<a class="btn btn-danger pull-right" href="{% url "apm.apps.news.views.delete" news_item.slug %}">{% trans "Delete" %}</a>
</div>
</div><!-- text-right -->
{% endif %}


<p class="text-center">
    {% if news_item.get_previous_drafted %}
    <div class="btn-group">
        <a class="btn" href="{{ news_item.get_previous_drafted.get_absolute_url }}" title=" {{news_item.get_previous_drafted.title}}">{% trans "previous" %}</a>
    </div>
    {% endif %}

    {% if news_item.get_next_drafted %}
    <div class="btn-group">
        <a class="btn" href="{{ news_item.get_next_drafted.get_absolute_url }}" title=" {{news_item.get_next_drafted.title}}">{% trans "next" %}</a>
    </div>
    {% endif %}
</div><!--/text-center --> 
 
</div><!--/span12 -->
</div><!--/row-fluid -->

{% endblock %}

