{% extends 'news/base_news.html' %}
{% load i18n %}

{% block extra_head %}{{ form.media }}{% endblock extra_head %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="page-header">
			<h4>{% trans "News editor" %}</h4>
		</div>
		<form class="form-horizontal" method="post" action="." enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}

			{% comment %}
			<div class="control-group">
				<label class="control-label" for="id_title">{{ form.title.label }}</label>
				<div class="controls">
					<input type="text" id="id_title" placeholder="{% trans "Title" %}" value="{{ form.title.value }}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="id_body_html">{{ form.body_html.label }}</label>
				<div class="controls">
					<input type="textarea" id="id_body_html" placeholder="{% trans "Body" %}" value="{{ form.body_html.value }}">
				</div>
			</div>
			{% endcomment %}

			<div class="control-group">
				<div class="controls" >
					<a class="btn btn-inverse" href="{{ back }}">{% trans "Cancel" %}</a>
					<input type="submit" class="btn btn-primary" value="{% trans "Save" %}"/>
				</div>
			</div>
		</form>

		{% if superadmin or bureau_member or secretariat_member or contributeur %}
		<h5>{% trans "Logs for this news" %}</h5>
		{% include "manage/logs.html" with object=form.instance %}
		{% endif %}

	</div><!--/ row-fluid -->
</div><!--/container-fluid -->
{% endblock %}
