{% extends 'news/base_news.html' %}
{% load i18n %}

{% block content_page %}


{% for news_item in news.object_list %}
<div class="row-fluid">
	<div class="span12">
		<h2>{{ news_item.title}}</h2>
		<p class="text-info">{% trans "Posted on" %} {{ news_item.pub_date }}</p>
		{{ news_item.body_html|truncatewords_html:"150"|safe }}
		<p><a class="btn pull-right" href="{{ news_item.get_absolute_url }}">{% trans "View details" %} &raquo;</a></p>
	</div>
</div>
{% empty %}
<div class="row-fluid">
	<div class="span12">
		<p>{% trans "No news !" %}
	</div>
</div>
{% endfor %}

<div class"row-fluid">
	<div class="span12">
		<ul class="inline">
			{% if news.has_previous %}
				<li><a class="btn btn-info" href="?page={{ news.previous_page_number }}">{% trans "previous" %}</a></li>
			{% endif %}

			{% if news %}
				<li class="text-info">{% trans "page" %} {{ news.number }} {% trans "of" %} {{ news.paginator.num_pages }}</li>
			{% endif %}

			{% if news.has_next %}
				<li><a class="btn btn-info" href="?page={{ news.next_page_number }}">{% trans "next" %}</a></li>
			{% endif %}
		</ul>
	</div><!--/span12 -->
</div><!--/row-fluid --> 
{% endblock %}
