{% extends 'news/base_news.html' %}
{% load i18n %}
{% load url from future %}

{% block content_page %}

    <h2>{{ news_item.title }}</h2>
 
        <p>{{ news_item.pub_date }}</p>
 
        <p>{{ news_item.body_html|safe }}</p>

    {% if superadmin or bureau_member or secretariat_member or contributeur %}
    <h3>{% trans "Logs for this news" %}</h3>
    <ul>
    {% for log in news_item.logs.all %}
        <li>{{ log.timestamp|date:"Y/M/d H:i:s" }} | {{ log.user }} | {{ log.message }}</li>
    {% empty %}
        <li>{% trans "No logs ERROR !" %}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <ul class="page-nav">
        {% if news_item.get_previous_published %}
        <a href="{{ news_item.get_previous_published.get_absolute_url }}" title=" {{news_item.get_previous_published.title}}">{% trans "« previous" %}</a>
        {% endif %}
 
        {% if news_item.get_next_published %}
        <a href="{{ news_item.get_next_published.get_absolute_url }}" title=" {{news_item.get_next_published.title}}">{% trans "next »" %}</a>
        {% endif %}
    </ul>
 
{% endblock %}

{% block extra-actions %}
{% if superadmin or bureau_member or secretariat_member or contributeur %}
    {{ block.super }}
    {% block end_ul %}{% endblock %}
    <li><a href="{% url "apm.apps.news.views.edit" news_item.slug %}">{% trans "Edit this news" %}</a></li>
    <li><a href="{% url "apm.apps.news.views.delete" news_item.slug %}">{% trans "Delete this news" %}</a></li>
    </ul>
{% endif %}
{% endblock %}
