{% extends 'news/base_news.html' %}
{% load i18n %}

{% block content_page %}
<div class="row-fluid">
<div class="span12">

    <h2>{{ news_item.title }}</h2>
 
    <p class="text-info">{% trans "Posted on" %} {{ news_item.pub_date }}</p>
 
    <p>{{ news_item.body_html|safe }}</p>


  {% if superadmin or bureau_member or secretariat_member or contributeur %}
  <h5>{% trans "Logs for this news" %}</h5>
  {% include "manage/logs.html" with object=news_item %}
  {% endif %}

{% if superadmin or bureau_member or secretariat_member or contributeur %}
<div class="text-right">
<div class="btn-group">
<a class="btn btn-primary pull-right" href="{% url "apm.apps.news.views.edit" news_item.slug %}">{% trans "Edit" %}</a>
</div>
<div class="btn-group">
<a class="btn btn-danger pull-right" href="{% url "apm.apps.news.views.delete" news_item.slug %}">{% trans "Delete" %}</a>
</div>
</div><!-- text-right -->
{% endif %}

<div class"text-right">
    {% if news_item.get_previous_published %}
    <div class="btn-group">
        <a class="btn btn-info" href="{{ news_item.get_previous_published.get_absolute_url }}" title=" {{news_item.get_previous_published.title}}">{% trans "previous" %}</a>
    </div>
    {% endif %}

    {% if news_item.get_next_published %}
    <div class="btn-group">
        <a class="btn btn-info" href="{{ news_item.get_next_published.get_absolute_url }}" title=" {{news_item.get_next_published.title}}">{% trans "next" %}</a>
    </div>
    {% endif %}
</div><!--/text-right --> 

</div><!--/span12 -->
</div><!--/row-fluid -->
 
{% endblock %}
