{% extends "base.html" %}
{% load  i18n %}

{% block pagetitle %}{% trans "Manage" %}{% endblock %}

{% block nav_manage %}<li class="active">{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    {% block actions %} {% endblock %}
                    {% block extra-actions %}
                    {% if superadmin or bureau_member or secretariat_member or contributeur %}
                    <li class="nav-header">{% trans "Actions" %}</li>
                    <li><a href="{% url "apm.apps.manage.views.members" %}">{% trans "List all APINC members" %}</a></li>
                    {# <li><a href="{% url "apm.apps.members.views.users" %}">{% trans "List Vhffs groups" %}</a></li> #}
                    {% endif %}
                    {% endblock %}

                    {% block subscriptions %}
                    {% if superadmin or bureau_member or secretariat_member or tresorier_member %}
                    <li class="nav-header">{% trans "Subscriptions" %}</li>
                    {% comment %}
                    <li><a href="{% url apinc.subscriptions.views.index %}">{% trans "Subscriptions index" %}</a></li>
                    <li><a href="{% url all_subscriptions %}">{% trans "Check all subscriptions" %}</a></li>
                    <li><a href="{% url to_validate_subscriptions %}">{% trans "Check pending subscriptions" %}</a></li>
                    <li><a href="{% url apinc.subscriptions.views.subscription_types %}">{% trans "Edit subscription types" %}</a></li>
                    {% endcomment %}
                    {% endif %}
                    {% endblock %}
                    </ul>
                </div> <!--/.well -->
            </div> <!--/span -->

            <div class="span9">
                {% block content_page %}{% endblock %} 
            </div>
        </div>
    </div><!--/container-fluid -->
    {% endblock %}
