{% load i18n %}
<table class="table table-condensed">
  <tr class="info">
    <td><small>{% trans "Date" %}</small></td>
    <td><small>{% trans "User" %}</small></td>
    <td><small>{% trans "Message" %}</small></td>
  </tr>
{% for log in object.logs.all %}
<tr>
    <td class="text-info"><small>{{ log.timestamp|date:"Y/M/d H:i:s" }}</small></td>
    <td><small>{{ log.user }}</small></td>
      <td><small>{{ log.message }}</small></td>
  </tr>
{% empty %}
<tr><td class="text-error">{% trans "No logs yet !" %}</td></tr>
{% endfor %}
</table>
