{% load  i18n %}
{% load url from future %}
{% load static from staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block pagetitle %}{% trans "APINC Plateform" %}{% endblock %}</title>
        <meta name="author" content="APINC Devel Team (http://apinc.org)" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-style-type" content="text/css" />

        {% block meta %}{{ meta }}{% endblock %}

        {% block stylesheet %}
        <link rel="stylesheet" href="{% static "css/gs960.css" %}" />
        <!--[if lte IE 7]><link rel="stylesheet" href="{% static "css/ie.css" %}" /><![endif]-->
        <link rel="stylesheet" href="{% static "css/styles.css" %}" />
        {% endblock %}

        <link rel="shortcut icon" type="image/x-icon" href="{% static "images/apinc.ico" %}" />

        {% block javascript %}
        {# Par defaut, on importe ces codes javascript sur toutes les pages. #}
        {# Rien n'empeche de redefinir ce bloc pour certaines pages... #}
        <script type="text/javascript" src="{% static "jquery/jquery-" %}{{ jquery_version }}.min.js"></script>
        {% endblock javascript %}

        {% block extra_head %}{% endblock extra_head %}

    </head>
 
    <body>

    <div id="page" class="container_12">

    <div id="header" class="grid_12">
		<div id="logo" class="grid_3 alpha">
            <h1><a href="/"><img title="{% trans "Portail web plateforme APINC" %}" src="{% static "images/apinc.png" %}"></a></h1>
		</div>
		<div id="top_info" class="grid_9 omega">
            <h1>{% trans "Association pour la Promotion de l'Internet Non Commercial" %}</h1>
		</div>
		<div class="clear">&nbsp;</div>
    </div>


		<div id="user_id" class="grid_12">
        {% if user.is_authenticated %}
            <form method="post" action="{% url "apm.apps.pages.views.logout" %}">
            {% csrf_token %}
            <p><a href="{% url "apm.apps.members.views.details" user.id %}">{{ user.first_name }} {{ user.last_name }}</a>&nbsp;<input class="button" type="submit" value="{% trans "Log out" %}" /></p>
            </form>
        {% else %}
            {% trans "You are not logged-in" %} - <a href="{% url "apm.apps.pages.views.login" %}?next={{ request.path }}">{% trans "Log-in" %}</a>
        {% endif %}    
        </div>


	<div id="nav" class="grid_12">
		<ul>
            {% block nav_home %}<li>{% endblock %}
            <a href="/">{% trans "Home" %}</a> </li>
            {% block nav_news %}<li>{% endblock %}
            <a href="{% url "apm.apps.news.views.index" %}">{% trans "News" %}</a></li>
            {% block nav_association %}<li>{% endblock %}
            <a href="{% url "apm.apps.association.views.index" %}">{% trans "Association" %}</a></li>
            {% block nav_compte %}<li>{% endblock %}
            {% if user.is_authenticated %}
            <a href="{% url "apm.apps.members.views.details" user.id %}">{% trans "Account" %}</a>
            {% else %}{% comment %} <a href="{% url "apm.apps.subscriptions.views.index" %}">{% trans "Subscriptions" %}</a> {% endcomment %}
            {% endif %}
            </li>
            {% block nav_aide %}<li>{% endblock %}
            <a href="/">{% trans "Help" %}</a></li>
            {% if superadmin or bureau_member or secretariat_member or tresorier_member %}
            {% block nav_manage %}<li>{% endblock %}
            {% comment %}<a href="{% url "apm.manage.views.index" %}">{% trans "Manage" %}</a></li>{% endcomment %}
            {% endif %}
		</ul>
    </div>
	<div class="clear">&nbsp;</div>
	
	
    <div id="messages" class="grid_12">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% comment %}
        {% for message in messages %}
            <p class="msg_info">{{ message|safe }}</p>
        {% endfor %}
        {% endcomment %}
    </div>
	<div class="clear">&nbsp;</div>

    {% block content %}{% endblock %}

	<div id="footer" class="grid_12">
		<p>
            {% trans "Rss feed" %}
            | <a href="/contact/">{% trans "Contact" %}</a>
            | <a href="/about/">{% trans "About" %}</a>			
            | <a href="/legal-notice">{% trans "Legal notice" %}</a>
			<br>
            &copy; {{ current_year }} APINC - {% trans "Version" %} {{ portal_version }} - {% trans "Unless otherwise explicitly specified, all texts are licenced" %} <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">CC by-sa 3.0</a>.</p>
	</div>
	<div class="clear">&nbsp;</div>
	
    </body>
</html>
