{% extends section %}
{% load i18n %}

{% block javascript %}{% endblock %}

{% block content %}
<div class="grid_12">
    
    <form method="post" action=".">
        <div class="confirm">
            <p><strong>
            {% if description %}
                {{ message }} "{{ description|escape }}" ?
            {% else %}
                {{ message }} ?
            {% endif %}
            </strong></p>
            <p>
                <a class="button" href="{{ back }}">{% trans "No" %}</a>
                <input type="submit" class="button" name="_confirm" value="{% trans "Yes" %}" />
            </p>
        </div>
    </form>

<div class="clear">&nbsp;</div>
{% endblock %}
