{% extends 'base.html' %}
{% load i18n %}

{% block pagetitle %}{% trans "Login page" %}{% endblock %}

{% block title %}{% trans "Login page" %}{% endblock %}

{% block content %}
<div class="container-fluid">

	{% if error %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>{% trans "Error!" %}</strong> {% trans "Your username and password didn't match. Please try again." %}
	</div>
	{% endif %}

    <div class="row-fluid">
    <div class="offset4 span4">
	<form class="well form-horizontal" method="post" action=".">
		{% csrf_token %}
		<table cellpadding="2" cellspacing="0" id="login-form">
			<tbody id="login-form-body">
				<tr><td>&nbsp;</td><td>&nbsp;</td></tr> {# FIXME #}
				<tr>
					<td><label for="username">{% trans "Username" %}</label></td>
					<td><input class="login-field" id="username" name="username" type="text"/></td>
				</tr>
				<tr>
					<td><label for="password">{% trans "Password" %}</label></td>
					<td><input class="login-field" type="password" id="password" name="password"/></td>
				</tr>
				<tr>
                    <td colspan="2" class="text-center">
                        <label>
                            <input class="text-center" type="checkbox" id="remember_me" name="remember_me"/> {% trans "Remember me" %}
                        </label>
                    </td>
				</tr>
				<tr><td colspan="2" style="height: 10px"></td></tr>
				<tr>
					<td colspan="2" style="text-align: center">
						<input type="submit" class="btn btn-primary" value="{% trans "Log-in" %}" />
						<input type="hidden" name="next" value="{{ next }}" />
					</td>
				</tr>
			</tbody>
		</table>

        <br />
        <p class="text-center"><a href="https://panel.apinc.org/?do=lost">{% trans "I don't know my password" %}</a></p>
        <p class="text-center"><a href="https://panel.apinc.org/?do=subscribe">{% trans "Subscribe" %}</a></p>
	</form>
    </div><!--/offset4 span4 -->
    </div><!--/row-fluid -->

	{% comment %}
	<p style="text-align: center;"><a href="{% url apinc.members.views.lostpassword %}">{% trans "If you have lost your login and/or your password follow this link" %}.</a></p>
	{% endcomment %}

</div><!--/container-fluid --> 
{% endblock %}

